.ace_editor {
    height: 350px;
    width: 580px;
}

#jc-connectionbox input {
}

md-content.md-default-theme {
    /*background-color: #eee;*/
}

md-card {
    background-color: #fff;
}

md-card h2:first-of-type {
    margin-top: 0;
}

md-toolbar .md-button.md-default-theme {
    border-radius: 99%;
}

h2 {
    font-weight: 400;
}

.md-toolbar-tools-bottom {
    font-size: small;
}

.md-toolbar-tools-bottom :last-child {
    opacity: 0.8;
}

md-toolbar:not(.md-hue-1),
.md-fab {
    fill: #fff;
}

/* The console container element */
#console {
    position: absolute;
    width: 420px;
    height: 300px;
    background-color: black;
}

/* The inner console element. */
.jqconsole {
    padding: 10px;
}

/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #666;
}

/* The current prompt text color */
.jqconsole-prompt {
    color: #0d0;
}

/* The command history */
.jqconsole-old-prompt {
    color: #0b0;
    font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}

/* The text color of the output. */
.jqconsole-header, .jqconsole-output {
    color: white;
}

