<div layout="row" layout-align="center center">
  <md-content class="md-padding">
    <h1 class="md-display-2">Connect to Jycraft</h1>
    <form name="userForm">
      <md-input-container flex>
        <label for="host">Host</label>
        <input id="host" ng-model="host">
      </md-input-container>
      <md-input-container flex>
        <label for="port">Port</label>
        <input id="port" ng-model="port">
      </md-input-container>
      <md-input-container flex>
        <label for="password">Password</label>
        <input id="password" ng-model="password">
      </md-input-container>
    </form>
    <md-button ng-click="ctrl.connect(host, port, password)"
               class="md-primary"> Connect
    </md-button>
  </md-content>
</div>
