<div layout="row" layout-align="center center">
  <md-content class="md-padding">
    <h1 class="md-display-2">Connect to Jycraft</h1>

    <form name="userForm"
          ng-submit="ctrl.connect()">
      <md-input-container flex>
        <label for="host">Host</label>
        <input id="host" ng-model="ctrl.host" required>
      </md-input-container>
      <md-input-container flex>
        <label for="port">Port</label>
        <input id="port" ng-model="ctrl.port" required value="ctrl.port">
      </md-input-container>
      <md-input-container flex>
        <label for="password">Password</label>
        <input id="password" ng-model="ctrl.password" required
               value="ctrl.password">
      </md-input-container>
      <md-button type="submit"
                 class="md-primary"> Connect
      </md-button>
    </form>
  </md-content>
</div>
