<div layout="row">
  <md-content class="md-padding">
    <h1 class="md-display-2">Welcome to Codecraft</h1>

    <p>CodeCraft is a Web-based coding, sharing, and distribution
      environment for Jycraft.</p>

    <p ng-if="ctrl.connection.isConnected">You are already connected.
      Proceed to your coding session.
      <md-button ng-click="ctrl.goto('/session')"
                 class="md-primary">Session
      </md-button>
    </p>
    <p ng-if="!ctrl.connection.isConnected">You are not yet connected.
      Head over to the connection screen.
      <md-button ng-click="ctrl.goto('/connect')"
                 class="md-primary">Connect
      </md-button>
    </p>
  </md-content>
</div>
